body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    margin-top: auto;
 }
 .widthCard{
    transition-duration: .1s;
    transition-timing-function:ease;
    width: 19rem !important;
    margin: 20px !important;
 }
 .table_a1{
    margin: 50px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    text-align: center;
    font-size: 18px;
}

.table_a1 th,
.table_a1 td {
    padding: 10px;
    border: 1px solid black;
}
.table_a1 th {
    background-color: #f2f2f2;
}
.rowTime{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.componentTime{
    position: fixed;
    background-color: antiquewhite;
    border-radius: 10px;
    bottom: 2%;
    padding: 5px;
}
.containerPleer{
    display: flex;
    align-items: center;
}
.containerPleer span{
    margin: 8px;
}